<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <%= render partial: 'books/new', locals: {user:@user, book:Book.new} %>
    <div class="col-lg-9">
      <h1>Users</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>name</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, size:"60x60", fallback: "no_image.jpg"%></td>
              <td><%= user.name %></td>
              <td><%= link_to 'Show', user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>