<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>User info</h2>
      <p><%= attachment_image_tag @user, :profile_image, size:"60x60", fallback: "no_image.jpg"%></p>
      <table class="table table-striped">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <%= link_to "edit", edit_user_path, class: "btn btn-default" %>
    </div>
    <div class="col-lg-8">
      <h1>Books</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
              <td><%= link_to 'Show', book %></td>
              <td><%= link_to 'Edit', edit_book_path(book) %></td>
              <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          <%= paginate @books, class: "pagenate" %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Book', new_book_path, class: "btn btn-default" %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
